

		*{
			margin:0;
			padding: 0;
		}
		body{
			background-color: black;
		}
		.main{
			max-width:19%;
			margin :0 auto;
			text-align: center;
		
	    }
	    img{
	    	width:100%;
	    }
	    .heading{
	    	color: yellow;
	    	text-align: center;
	    	margin-top: 55px;

	    }
	    .heading1{
	    	color: yellow;
	    	margin-top: 35px;
	    	line-height:35px;
	    	font-size: 30px;
	    	
	    }
	    button{
           width:90%;
           height: 50px;
           background-color: yellowgreen;
           margin-top: 5px;
           border-radius: 20px;
           font-size: 25px;
           font-weight: bold;
         


	    }
